.contact-page div[data-contact-info="phone"] {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.contact-page div[data-contact-info="phone"] svg  {
    height: 18px;
    width: 18px;
    margin-right: 8px;
    fill: #fff;
}
.contact-page div[data-contact-info="phone"] h4  {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    border-radius: 100px;
}
.contact-page div[data-contact-info="oncall"] {
    margin-top: 1rem;
}
.contact-page div[data-contact-info="hours"],
.contact-page div[data-contact-info="oncall"] {
    text-align: right;
}


.contact-page > section,
.home-page > section {
    padding: 40px 0;
    position: relative;
}
.home-page > section:first-of-type {
    padding: 0 0 40px;
}

/* Services Section */
.services-section section {
    text-align: center;
}
.services-section img {
    width: 60%;
    /* margin-bottom: 10px; */
    display: block;
    margin: 20px auto
}
.services-section img:first-of-type {
    margin-bottom: 10px;
}
.services-section img.mobile-only {
    margin-top: 20px;
}
@media (max-width: 900px){
    .services-section h4 {
        font-size: 16px;
    }
    .services-section img {
        width: 60%;
        margin-bottom: 20px;
    }
}
@media (max-width: 740px){
    .services-section img {
        width: 120px;
        margin-bottom: 5vw;
    }
    .services-section h4 {
        font-size: 24px;
    }
    .services-section .five-col {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'one' 'two' 'three' 'four' 'five';
        gap: 16px;
    }
}
@media (max-width: 540px){
    .services-section img {
        width: 40vw;
        margin-bottom: 5vw;
    }
    .services-section h4 {
        font-size: 8vw;
        margin-bottom: 32px;
    }
    .services-section .five-col {
        gap: 2vw;
    }
}
.services-section .button-box {
    padding: 40px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-page .icon {
    height: 80px;
    width: 80px;
    margin-right: 20px;
}

.services-page .bullet-points-section > div.box-info  {
    display: grid;
    grid-template-columns: 100px 1fr;
    /* margin-top: 40px; */
}
.services-page .bullet-points-section > div > section:first-of-type {
    flex-grow: 0;
}
.services-page .bullet-points-section ul {
    padding-inline-start: 0px;
}   

.services-page .bullet-points-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 16px;
}
.services-page .bullet-points-section .box-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (min-width: 740px){
    .services-page .bullet-points-section .top-image {
        display: none;
    }

}
@media (max-width: 739px){
    .services-page .bullet-points-section {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 32px;
        column-gap: 16px;
    }
    .services-page .bullet-points-section .box-image {
        display: none;
    }
    .services-page .top-image {
        margin-top: 80px;
    }
    .services-page .bullet-points-section ul {
        margin-left: -64px;
    }
}

.discrimination-clause {
    width: 100%; 
    display: flex; 
    margin: 80px auto;
}
.discrimination-clause > section:first-of-type {
    flex-grow: 1;
}
.discrimination-clause > section:last-of-type {
    max-width: 360px; 
    width: 100%;
}
.discrimination-clause .container {
    display: flex; 
    gap: 16px;
}
.discrimination-clause .title {
    max-width: 360px; 
    width: 100%;
}