/* Home Hero Style */
.hero-section {
    /* height: calc(100dvh - 83px); */
    max-height: calc(768px - 83px);
    overflow: hidden;
}
.hero-section > div,
.hero-section > div > section ,
.hero-section > div > section > div  { 
    height: 100%;
    position: relative;
}

.hero-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero-section h1 {
    font-size: 5vw;
}
.hero-section h4 {
    font-size: 2.5vw;
    font-weight: 400;
}
.hero-section .text-io {
    font-size: 2vw;
    font-weight: 300;
}
.home-page .hero-info {
    position: absolute;
    height: 100%;
    width: 50%;
    max-height: calc(768px - 83px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-page > section > div + div {
    margin-top: 40px;
}

.services-page .hero-info {
    position: absolute;
    height: 100%;
    max-height: calc(768px - 83px);
    width: 50%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-info .spacer {
    height: 10vw;
    max-height: 80px;
}
.hero-info > div {
    color: #FFF;
    display: flex;
    flex-direction: column;
}

.contact-page > section,
.home-page > section {
    padding: 40px 0;
    position: relative;
}
.home-page > section:first-of-type {
    padding: 0 0 40px;
}

/* Services Section */
.services-section section {
    text-align: center;
}
.services-section img {
    width: 60%;
    margin-bottom: 20px;
}
@media (max-width: 900px){
    .services-section h4 {
        font-size: 16px;
    }
    .services-section img {
        width: 60%;
        margin-bottom: 20px;
    }
}
@media (max-width: 740px){
    .services-section img {
        width: 120px;
        margin-bottom: 5vw;
    }
    .services-section h4 {
        font-size: 24px;
    }
    .services-section .five-col {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'one' 'two' 'three' 'four' 'five';
        gap: 16px;
    }
}
@media (max-width: 540px){
    .services-section img {
        width: 40vw;
        margin-bottom: 5vw;
    }
    .services-section h4 {
        font-size: 6vw;
    }
    .services-section .five-col {
        gap: 2vw;
    }
}
.services-section .button-box {
    padding: 40px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-page .icon {
    height: 80px;
    width: 80px;
    margin-right: 20px;
}

.services-page .bullet-points-section > div.box-info  {
    display: grid;
    grid-template-columns: 100px 1fr;
    /* margin-top: 40px; */
}
.services-page .bullet-points-section > div > section:first-of-type {
    flex-grow: 0;
}
.services-page .bullet-points-section ul {
    padding-inline-start: 0px;
}   

.services-page .bullet-points-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 16px;
}
.services-page .bullet-points-section .box-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (min-width: 740px){
    .services-page .bullet-points-section .top-image {
        display: none;
    }
}
@media (max-width: 739px){
    .services-page .bullet-points-section {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 32px;
        column-gap: 16px;
    }
    .services-page .bullet-points-section .box-image {
        display: none;
    }
    .services-page .top-image {
        margin-top: 80px;
    }
}